*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore{
    background-image: url("../img/pattern.png");
    background-size: 30%;
    height: 68px;   
    background-color: #5aabe9;
}

#logo{
    height: 35px;
    margin-top: 30px;
}

/* AUTORE E DATA */
#credenziali{
    color: rgb(128, 128, 128);
}
/* /AUTORE E DATA */

#link{
    text-decoration: none;
}

.marginebasso{
    margin-top: 15px;
}

#descizioneimmagini{
    font-size: 13px;
}

.marginealto{
    margin-top: 20px;
}

.evidenziatore{
    background-color: yellow;
}

thead{
    background-color:#29a9e5 ;
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  tbody{
    background-color: 7c7c7c;
  }

  tr {
    height: 70px;
  }

.foto{
    width: 312px;
    height: 208;
}

.footering{
    display:inline-block;
}

.footertesto{
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    color: white;
    width: 10px;
}
