*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore{
    background-image: url("../img/pattern.png");
    background-size: 30%;
    height: 68px;   
    background-color: #5aabe9;
}

#logo{
    height: 35px;
    margin-top: 30px;
}

/* AUTORE E DATA */
#credenziali{
    color: rgb(128, 128, 128);
}
/* /AUTORE E DATA */

#link{
    text-decoration: none;
}

.marginebasso{
    margin-top: 15px;
}

#descizioneimmagini{
    font-size: 13px;
}

.marginealto{
    margin-top: 20px;
}

.evidenziatore{
    background-color: yellow;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th{
    background-color: #5aabe9 ;
    color: white;
    width: 25px;
}

tr:nth-child(1){
    background-color:  #b1e5f2
}

tr:nth-child(3){
    background-color: #b1e5f2
}

tr {
    text-align: left;
    padding: 8px;
}

  td {
    height: 70px;
  }

  .margineup-down{
    margin-top: 10px;
    margin-bottom: 10px;
  }
.footerimg{
    width: 312px;
    height: 208px;
    background-image: url(../img/monitor.jpg);
}

.footertesto{
    color: white;
    position: relative;
    top: 10px;
}

.footerimg2{
    width: 312px;
    height: 208px;
    background-image: url(../img/graph.jpg);
}


















/* 
.footering, {
    display:inline-block;
    position: relative;
}

.footertesto{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 10px;
} */
